{% extends 'base.html.twig' %}

{% block title %}Add New Author!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Add New Author!</h1>

    {{ form(form) }}
</div>
{% endblock %}
